<center><h4 class="font font_color">Enter how many cents you have.</h4>

<h4 class="font"><%=cents%> <%=message1%> <%=results%></h4>

<form action='cents' method='post'>
		<input type=number name='coin_input' autofocus='autofocus'>
		<p><input type='submit'></p>
</form></center>