<center><h2>Enter how many cents you have.</h2>

<h4><%=cents%> <%=message1%> <%=results%></h4>

<form action='cents' method='post'>
		<input type='text' name='coin_input'>
		<p><input type='submit'></p>
</form></center>